body{
    
    margin:0px;
    padding:0px;
    background-image: url("../images/rinkBackground.jpg");
    
}


.goalHorn{
    
   width: 100%;
   height: 200px;
    
}


#underline1, #underline2, #underline3, #underline4, #underline5, #underline6, #underline7, #underline8, #underline9{
    
        display: none;
        float: left;
        width: 50px;
        height: 60px;
        margin-right: 5px;
    
}

#letter1, #letter2, #letter3, #letter4, #letter5, #letter6, #letter7, #letter8, #letter9{
    
    font-family: 'Gloria Hallelujah', cursive;
    width: 50px;
    height: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    
}